<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Logging settings (No direct equivalent in App.config, may be handled by external libraries) -->

    <!-- AllowedHosts (Commonly used in ASP.NET applications for web hosting, may be omitted) -->

    <!-- Connection Strings -->
    <connectionStrings>
        <add name="DefaultConnection" 
            connectionString="Server=localhost,1435;Database=master;User Id=sa;Password=P@ss12345;TrustServerCertificate=true;Encrypt=False;"
            providerName="System.Data.SqlClient" />
        <add name="IdentityDbConnection"
            connectionString="Server=localhost,1435;Database=IdentityDb;User Id=sa;Password=P@ss12345;TrustServerCertificate=true;Encrypt=False;"
            providerName="System.Data.SqlClient" />
        <add name="QuanLySinhVienDbConnection"
            connectionString="Server=localhost,1435;Database=QuanLySinhVienDb;User Id=sa;Password=P@ss12345;TrustServerCertificate=true;Encrypt=False;"
            providerName="System.Data.SqlClient" />
        <add name="SessionDbConnection"
            connectionString="Server=localhost,1435;Database=SessionDb;User Id=sa;Password=P@ss12345;TrustServerCertificate=true;Encrypt=False;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <!-- App Settings -->
    <appSettings>
        <!-- JWT Settings -->
        <add key="Jwt:Key" value="C4mX92Jp5KbYrQmFx7p3GHTy8Eav6L1w" />
        <add key="Jwt:AccessTokenExpireDays" value="1" />
        <add key="Jwt:RefreshTokenExpireDays" value="7" />
        <add key="Jwt:Issuer" value="https://github.com/Youknow2509/" />
        <add key="Jwt:Audience" value="https://github.com/Youknow2509/" />

        <!-- Security Settings -->
        <add key="Security:EncryptionKey" value="C4mX92Jp5KbYrQmFx7p3GHTy8Eav6L1w" />
        <add key="Security:HashKey" value="zvalsE4ykdbL684vaVZIPPchz6HrI3B2" />
        <add key="Security:AlgorithmEncryption" value="AES" />
        <add key="Security:AlgorithmHashing" value="SHA256" />

		<add key="SyncfusionLicenseKey" value="MzU4MDUwN0AzMjM3MmUzMDJlMzBBNVhFYzRTVzcxTkZVRlgzcVlTbERLd1pST3FPWVpYWjE0RTVJRHRwcmJjPQ==" />
    </appSettings>
</configuration>